ul,ol{list-style: none;}
*{margin:0;padding:0;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#xxx{
  display: block;
  background-color: cornsilk;
  position: fixed;
  top: 0;
  left: 0;
}

body{
  overflow: hidden;
}

.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.actions svg{
  width: 1.5em;
  height: 1.5em;
  transition: all 0.3s;
  margin: 0 10px;
}
.actions svg.active{
  fill: red;
  transform: scale(1.2);
}
.colors{
  position: fixed;
  top: 60px;
  left: 26px;
}
.colors> li{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  margin: 10px 0;
  transition: all 0.3s;
}
.colors> li.black{
  background: black;
}
.colors> li.red{
  background: red;
}
.colors> li.green{
  background: green;
}
.colors> li.blue{
  background: blue;
}
.colors> li.yellow{
  background: yellow;
}
.colors> li.active{
  box-shadow: 0 0 3px rgba(0,0,0,0.95);
  transform: scale(1.2);
}
.slider{
  position: fixed;
  transform: rotate(-270deg);
  right: -20px;
  top: 133px;
}
.slider div{
  background: black;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 3px rgba(0,0,0,0.95);
}
.slider .dot{
  width: 15px;
  height: 15px;
  right: 134px;
  top: 5px;
}
.slider .dot1{
  width: 30px;
  height: 30px;
  right: -34px;
  top: -3px;
}

.slider input[type="range"] {
  /*滑动条背景*/
  -webkit-appearance: none;
  background-color: rgba(120, 159, 115, 0.5);
  height: 5px;
  right: -26px;
  top: 132px;
}

.slider input[type=range]:focus {
  /*滑动条选择后外边距*/
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  /*滑动条操作按钮样式*/
  -webkit-appearance: none;
  border-radius: 50%;
  background:white;
  width: 30px;
  height: 30px;
  border: solid 0.125em rgba(205, 224, 230, 0.5);
  box-shadow: 0 -.125em .125em #3b4547;
}


